<div class="container">
  <h1>Clustered Ingredients</h1>
  <form>
    <div class="form-group">
      <label for="ingredientName">Ingredient Name:</label>
      <input type="text" class="form-control" id="ingredientName" [(ngModel)]="ingredientName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="epsilon">Epsilon:</label>
      <input type="number" class="form-control" id="epsilon" [(ngModel)]="epsilon" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="minClusterSize">Minimum Cluster Size:</label>
      <input type="number" class="form-control" id="minClusterSize" [(ngModel)]="minClusterSize" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="button" class="btn btn-primary" (click)="getClusteredIngredients()">Get Clustered Ingredients</button>
  </form>
  <div class="row">
    <div class="col-md-8">
      <h2>Clustered Ingredients</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let clusteredIngredient of clusteredIngredients">
          <div class="row">
            <div class="col-4">
              <label for="clusterName">Cluster Name:</label>
              <input type="text" class="form-control" id="clusterName" [(ngModel)]="clusteredIngredient.suggestedClusterName">
            </div>
            <div class="col-8 text-right">
              <ul>
                <li *ngFor="let ingredient of clusteredIngredient.ingredients">
                  {{ingredient.name}}
                  <button type="button" class="btn btn-sm btn-danger" (click)="detachIngredient(clusteredIngredient, ingredient)">Detach</button>
                </li>
              </ul>
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <label for="mergeClusterName">Merge with Existing Cluster:</label>
                    <div class="input-group">
                      <select class="form-control" id="mergeClusterName" [(ngModel)]="clusteredIngredient.mergeClusterCandidate">
                        <option *ngFor="let ci of clusteredIngredients" [ngValue]="ci" [disabled]="clusteredIngredient === ci">{{ci.suggestedClusterName}}</option>
                      </select>
                      <div class="input-group-append">
                        <button type="button" class="btn btn-sm btn-success" (click)="mergeClusters(clusteredIngredient, clusteredIngredient.mergeClusterCandidate)">Merge</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 text-right">
                  <button type="button" class="btn btn-sm btn-danger" (click)="removeCluster(clusteredIngredient)">Remove Cluster</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Detached Ingredients</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of detachedIngredients">
          <div class="row">
            <div class="col-12">
              {{ingredient.name}}
            </div>
            <div class="col-8">
              <select class="form-control" id="mergeClusterName" [(ngModel)]="ingredient.mergeClusterCandidate">
                <option *ngFor="let ci of clusteredIngredients" [ngValue]="ci">{{ci.suggestedClusterName}}</option>
              </select>
            </div>
            <div class="col-4 text-right">
              <button type="button" class="btn btn-sm btn-success" (click)="attachIngredient(ingredient, ingredient.mergeClusterCandidate)">Attach</button>
            </div>
          </div>
        </li>
      </ul>
      <button type="button" class="btn btn-sm btn-primary" *ngIf="detachedIngredients.length > 0" (click)="createCluster()">Create new cluster</button>
    </div>
  </div>
  <button type="button" class="btn btn-sm btn-success"  *ngIf="clusteredIngredients.length > 0" (click)="confirmIngredientClusters()">Confirm Clustered Ingredients</button>
</div>
